* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    font-family: "Montserrat", sans-serif;
}
/*
.form-control {
    max-width: 400px; 
    margin: auto; 
}
*/